<h1><%=@user.username%>'s <%=@type%></h1>

<center>


<% @x.each do |photo|%>
  <h2><%=photo.poster.username%></h2>
  <img src="<%=photo.image%>" alt="image">
  <p><%=photo.created_at%></p>
  
  <%photo.comments.each do |comment|%>
    <table>
      <tr>
      <big><%=comment.commenter.username%></big>
      </tr>

      <td>
      <%=comment.body%>
      </td>
    </table>

  <%end%>

  <hr>
  
<%end%>


</center>
